/*Global STyles */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: hsl(211, 68%, 94%);
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*box styles*/
main {
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  margin: 20px;
}

/* title styles*/

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

section > p {
  /*Mark all as read */
  cursor: pointer;
  color: hsl(219, 14%, 63%);
  font-weight: 100;
}

h1 {
}
.box-number {
  background-color: blue;
  border: white solid 1px;
  border-radius: 20%;
  padding: 0px 10px;
  margin-left: 10px;
}
.box-number p {
  line-height: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

/* list style */

ul {
  list-style: none;
  padding: 0 20px;
}

li {
  background-color: white;
  margin: 10px;
  padding: 20px;
  display: flex;
}

.active {
  background-color: hsl(210, 60%, 98%);
  cursor: pointer;
}

img {
  width: 70px;
  height: 70px;
}

span {
    display: inline;
}

/* notications text styles */

.text-group p:first-child {
  margin-bottom: 0px;
}

.text-group p:nth-child(2) {
  color: hsl(219, 14%, 63%);
  margin-top: 1px;
}

blockquote {
  border: black solid 1px;
  padding: 10px;
  background-color: white;
}


/* link styles */
a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:hover {
    color: hsl(219, 85%, 26%)
}

p a:nth-child(2) {

    color:hsl(219, 14%, 63%)
}

p a:nth-child(2):hover {
    color: hsl(219, 85%, 26%)
}

a > blockquote {
    color:hsl(219, 14%, 63%);
    font-weight: normal;
}

blockquote:hover {

    background-color: hsl(211, 68%, 94%);
}